
.a1{font-family: 'Tajawal';
  font-size: 14px;
  color:#656668 ;
  padding-right: 0%;
  padding-left: 5px !important;
  }
.a1:hover {
    color: #6654A4;
  }

.a2{font-family: 'Tajawal';
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color:#656668 ;
    padding-right: 0%;
    padding-left: 0%;
    }
.a2:hover {
      color: #6654A4;
    }

.a3{font-family: 'Tajawal';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color:#6654A4 ;
    padding-right: 0%;
    padding-left:33px;
        }
.a3:hover {
    color: #6654A4;
        }
    